<div class="event-details">
  <span>Event Name:  <h1><%= data[0].name %> </h1></span>
  <span>Location:  <p class="eventloc"><%= data[0].location %></p></span>
  <span>Event Details:  <p class="describer"><%= data[0].detail %></p></span>
</div>
<br>


