<!DOCTYPE html>
<html>
<head>

  <title></title>
</head>
<body>
  <% include ./partials/_header.ejs %>
    <% include ./partials/_mainheader.ejs %>

<div class="body-container">
 <% include ./partials/_eventdetails.ejs %>
</div>
<div class="body-container">
  <div class='event-details'>
    <% for(let key in data) { %>
   <span>Attendees: <h1><%= data[key].username %> </h1></span>
  </div>
</div>
<% } %>




</body>
</html>

