<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <% include ./partials/_header.ejs %>
  <br>
    <% include ./partials/_mainheader.ejs %>

<div>
  <h2></h2>
</div>

<div>
<h2>Attendees:</h2>
<span><%=data[0].name%></span>
</div>
</body>
</html>

