<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <% include ./partials/_header.ejs %>
    <% include ./partials/_mainheader.ejs %>


<div class="body-container">
 <% include ./partials/_eventdetails.ejs %>
</div>
<div class="body-container">
  <div class='event-details'>
    <form class="email_form" name="/events/:id/send" method="POST">
      <textarea class="subject_line" name="subject"><%= data[0].eventname %></textarea><br>


      <textarea class="emails" name="emails"><% for(let key in data) { %><%=data[key].email %>,<% } %>
      </textarea><br>

      <textarea class="email_body" name="body">You are invited to <%= data[0].eventname %> at <%= data[0].location %>!</textarea><br>
      <button>Notify your attendees!</button>
    </form>

  </div>
</div>
  <% include ./partials/_scripts.ejs %>
</body>
</html>

