<!doctype html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/event.css" type="text/css" />
<!-- <script type="text/javascript" src="/scripts/adminpage.js"></script> -->
</head>
<body>
  <h1> <%= data %> </h1>
  <div class="slots"><div class="container">
  <div class="row">
 <!-- <div class="col-sm uslot">
      5:30 - 8:30 Wed 9th
    </div>
    <div class="col-sm uslot">
      6:30 - 7:30 Tues 8th
    </div>
    <div class="col-sm uslot">
      6:30 - 7:30 Mon 7th
    </div>
    <div class="col-sm uslot">
      5:30 - 8:30 Wed 9th
    </div>
    <div class="col-sm uslot">
      6:30 - 7:30 Tues 8th
    </div>
    <div class="col-sm uslot">
      6:30 - 7:30 Mon 7th
    </div>
    <div class="col-sm uslot">
      5:30 - 8:30 Wed 9th
    </div>
    <div class="col-sm uslot">
      6:30 - 7:30 Tues 8th
    </div>
    <div class="col-sm uslot">
      6:30 - 7:30 Mon 7th
    </div>
    <div class="col-sm uslot">
      5:30 - 8:30 Wed 9th
    </div>
    <div class="col-sm uslot">
      6:30 - 7:30 Tues 8th
    </div>
    <div class="col-sm uslot">
      6:30 - 7:30 Mon 7th
    </div>
    <div class="col-sm uslot">
      5:30 - 8:30 Wed 9th
    </div>
    <div class="col-sm uslot">
      6:30 - 7:30 Tues 8th
    </div>
 -->
  </div>
</div></div>
<div class="eventloc">Location</div>
<div class="describer">Event Description</div>
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/attendee.js"></script>
</body>
