<!doctype html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/event.css" type="text/css" />
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/adminpage.js"></script>
</head>
<body>
   <div class="left"></div>
    <div class="right"></div>
  <h1><%= eventData.event_name %></h1>
  <% console.log('jum jum', eventData.end_date.toISOString().substring(0, 10)) %>
  <button class="setslots">Enter your proposed times</button><br><br>
  <div class="setslotsdiv">
    <form class="slotform" method="post" action="/events/:id/edit"><div class="slotdiv"><b>From when to when?</b>
      <input name="slotdate" type="date"></input>
      <input name="url" style="display:none" value="<%= url %>"></input>
      <input value="12:00" name="slothr" step="900" type="time" min="0"></input>
      <!-- /*<input placeholder="min" name="slotmin" type="time" min="0" style="width: 50px;"></input> -*/ -->
      <input value="12:00" name="slothr2" step="900" type="time" min="0"></input>
      <!-- /*<input placeholder="min" name="slotmin2" type="number" min="0" style="width: 50px;"></div></input>*/ -->
    <form class="slotform" method="post" action="/:id/edit/"><div class="slotdiv"><b>From when to when?</b>
      <input name="slotdate" min="<%= eventData.start_date.toISOString().substring(0, 10) %>" max="<%= eventData.end_date.toISOString().substring(0, 10) %>" type="date"></input>
      <input placeholder="hr" name="slothr" type="number" min="0" style="width: 50px;"></input>
      <input placeholder="min" name="slotmin" type="number" min="0" style="width: 50px;"></input> -
      <input name="slothr2" type="number" style="width: 50px;" min="0" placeholder="hr"></input>
      <input placeholder="min" name="slotmin2" type="number" min="0" style="width: 50px;"></div></input>
      <br><br><button id="submit">Submit</button>
    </form>
  </div>
  <div class="slots"><div class="container">
  <div class="row">
  </div>
</div></div>
<div class="eventloc">Location</div>
<div class="describer">Event Description</div>
</body>
