<!doctype html>
<%= eventData %>
<head>
  <link rel="stylesheet" href="/styles/event.css" type="text/css" />
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

</head>
<body>
  <h1>Event Name</h1>
  <button class="setslots">Enter your proposed times</button>
  <div class="setslotsdiv"></div>
</body>
