<!DOCTYPE html>
<html lang="en">

  <% include ./partials/_header.ejs %>

  <body>

  <% include ./partials/_mainheader.ejs %>

    <div class="start">
      <h1>Why Redsquare?</h1>
      <p>From time to time, we all need to organize events; but in today's world, it's hard to get everyone in the same place at the same time. No longer. With Redsquare, we make this arduous process easy! Click the button below to get started</p>
      <button class="startbtn">Let's go!</button>
    </div>

    <div class="create-container">
      <form class="createEvent" method="POST" action="/events">
        <h1 class="h1">Create an event!</h1>
        <input type="text" name="name" class="name" placeholder="enter your name"></input>
        <input type="email" name="email" class="email" placeholder="enter your email"></input><br><br>
        <button class="btn">Create Event</button>
      </form>
    </div>

    <div class="details" style="display:none">
      <form class="dtform">
        <h1>Enter your event details!</h1>
        <input  style="width: 300px;" class="evtnameinput" type="text" name="eventName" placeholder="enter your event name"></input><br>
        <input style="width: 300px;" class="evtlocationinput" type="text" name="location" placeholder="enter your event location"><br>
        <input type="text" class="category" name="category" style="display: none"></input>
        <p>What kind of event is this? Business, social or virtual?</p><br>
        <i class="fas fa-user-tie"></i>
        <i class="fas fa-user-friends"></i>
        <i class="fas fa-network-wired"></i><br>
        <textarea name="details" class="description" placeholder="Describe your event!"></textarea><br>
        <input id="stdt" name="start_date" style="width: 150px;" type="date" min="minnie" value="<%= (new Date()).toISOString().split('T')[0] %>"></input> <---> <input id="enddt" name="end_date" style="width: 150px;"  type="date" value="<%= (new Date()).toISOString().split('T')[0] %>"></input><br><br>
        <button class="dtbtn">Submit</button>
      </form>
    </div>

  <% include ./partials/_scripts.ejs %>

  </body>
</html>
