body {
  color: black;
  /*background-color: black;*/
  background-image: url('https://www.prague-stay.com/images/full_image/1920x1200/prague-old-town-square-jan-tyn-resize~old-town-square-old-town-tourists.jpg');

  div.header-container {
    display: flex;
    // color: red;
    // background-image: url('http://bestanimations.com/Holidays/Fireworks/fireworks/amazing-electrc-feel-fireworks-gif.gif');
    background-position: center;
    background-blend-mode: color-burn;
    margin: 20px 50px 20px 50px;
    flex-direction: column-reverse;
  }

  div h1 {
    color: red;
    align-self: flex-end;
    flex: right;
    order: 2;
  }

  div .slogan {
    flex: right;
    align-self: flex-end;
    color: #ggg;
    order: 1;
  }

  div .event-name {
    color: black;
    order: 3;
    align-self: flex-start;
  }
  .user-register {

    input {
      border-radius: 10px;
    }
  }

  #submit {
    border-radius: 10px;
  }

  input {
    text-align: center;
  }

  b {
    background-color: red;
    border-radius: 10px;
    border: 1px solid black;
    padding: 2px;
  }

  #submit:hover {
    background-color: red;
    cursor: pointer;
  }

  div .event-details {
    display: flex;
    padding: 0 50px 0 50px;
    margin: 0 10%;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    // background-image: url('http://bestanimations.com/Holidays/Fireworks/fireworks/amazing-electrc-feel-fireworks-gif.gif');
  }

  span.event-details h1 {
    font-weight: bold;
    font: arial, sans-serif;
    order: 1;
    margin: 0;
  }

  span.describer {
    order: 3;
    width: 40%;
    margin: 0;
    text-align: center;
    color: red;
    // background-image: url('http://bestanimations.com/Holidays/Fireworks/fireworks/amazing-electrc-feel-fireworks-gif.gif');
    background-position: center;
    background-blend-mode: color-burn;
    opacity: 0.9;
  }

  span.eventloc {
    order: 2;
    width: 10%;
    margin: 0;
    text-align: center;
    color: red;
    /*background-color: red;*/
    // background-image: url('http://bestanimations.com/Holidays/Fireworks/fireworks/amazing-electrc-feel-fireworks-gif.gif');
    background-position: center;
    background-blend-mode: color-burn;
    opacity: 0.9;
  }

  .setslotsdiv {
    /*border-radius: 10px;
    border: 5px solid black;*/
    display: none;
    text-align: center;
    margin: 5px;

    input {
      text-align: center;
      border-radius: 10px;
    }
  }

  .setslots {
    border-radius: 10px;
    background-image: linear-gradient(red, gray);
    width: 80%;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .setslots:hover {
    background-image: linear-gradient(white, red);
    /*background-color: red;*/
    cursor: pointer;
  }

  .slots {
    text-align: center;
    margin: 25px 0 25px 0;
  }

   .uslot:hover {
    cursor: pointer;
    background-color: red;
    color: black;
    font-weight: bold;
  }

  .slotform h2 {
    background-color: #e6e6e6;
    color: red;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0.8;
  }

 .purpi {
    background-color: #E8E8E8;
    height: 20%;
    border-radius: 10px;
    border: 5px solid red;
    margin: 2px;
  }

  .uslot {
    background-color: black;
    color: #E8E8E8;
    height: 20%;
    border-radius: 10px;
    border: 5px solid red;
    margin: 2px;
  }

}

.toggleWhite {
  color: #E8E8E8;
}

body {
  background-color: rgba(55, 0, 0, 0.5);
  background-image: url('https://ridderalvarez.com/wp-content/uploads/2018/06/Red-Square-Moscow-1024x683.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: color-burn;
  background-size: cover;

  input, textarea {
    text-align: center;
  }

   #error {
    color: red;
    display: none;
    text-align: center;
    font-size: 2em;
  }

  .error2 {
    color: red;
    display: none;
    text-align: center;
    font-size: 2em;
  }



  .navbar {
    width: 100%;
    height: 30px;
    /*background-color: red;*/
    background-image: url('http://bestanimations.com/Holidays/Fireworks/fireworks/amazing-electrc-feel-fireworks-gif.gif');
    background-position: center;
    background-blend-mode: color-burn;
    opacity: 0.9;
    color: #E8E8E8;
    font-family: monospace;
    text-align: center;
    font-size: 1.5em;
    text-overflow: auto;
  }

  .fas {
    margin-left: 40px;
    margin-right: 40px;
    color: #E8E8E8;
  }

  .description {
    width: 40%;
    border-radius: 10px;
  }

  .fas:hover {
    cursor: pointer;
    color: red;
  }

  .createEvent {
    text-align: center;
    display: none;

    input {
      border-radius: 10px;
    }
  }

  .details {
    color: #E8E8E8;
    text-align: center;
    display: none;
    h1 {
      color: red;
    }

    p {
      margin-right: 10px;
      color: #E8E8E8
    }

    input {
      width: 50px;
      margin-left: 2em;
      margin-right: 2em;
      border-radius: 10px;
    }

    button {
      border-radius: 10px;
      text-align: center;
    }

    button:hover {
      cursor: pointer;
      background-color: red;
    }
  }

  input.evtlocationinput {
    margin: 20px;
  }

  .start {
    color: red;
    text-align: center;
    text-overflow: auto;
    width: 70%;
    margin-left: 15%;
  }

  .start button {
    border-radius: 10px;
  }

  .start button:hover {
    cursor: pointer;
    background-color: red;
  }

  .start p {
    color: #E8E8E8;
    font-weight: bold;
  }

  .h1 {
    text-align: center;
    color: #E8E8E8;
  }

  .btn {
    border-radius: 10px;
  }

  .btn:hover {
    background-color: crimson;
    cursor: pointer;
  }

}

div.voteyes {
  background-color: green;
}

  .uslot.purpi.clicked {
    background-color: green;
    color: black;
    border: 2px dotted green;
  }

