body {
  background-color: black;

  .navbar {
    width: 100%;
    background-color: red;
    text-align: center;
  }

  .createEvent {
    text-align: center;
  }

  .h1 {
    text-align: center;
    background-color: blue;
    color: white;
  }

  .btn {
    border-radius: 10px;
  }
}
